@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #00000f 20%, #0a0278fe 85%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #fbf9f8;
  font-weight: 400;
  font-size: 18px
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #f5f4f4;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #f7f6f6;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #f9f5f2;
}

.conteudo-principal-escrito-botao {
  background-color: #8376ea;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #0b0101;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
  padding-top: 48px;
  height: 370px;
}

.conteudo-secundario{
  margin-bottom: 48px;
  border-top: 0.4px solid #f5f4f4;
}
.conteudo-secundario {
  display: flex;
  flex-direction:column;
  align-items: justify-all;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0px solid #fffdfc;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 28px;
  color: #faf8f7;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fffdfb;
}

.conteudo-terciario {
  display: flex;
  flex-direction: column;
  align-items: justify-all;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-terciario-titulo {
  border-top: 0px solid #fffdfc;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 28px;
  color: #faf8f7;
  margin-bottom: 16px;
}

.conteudo-terciario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fffdfb;
}

.conteudo-quaternario-titulo {
  border-top: 0px solid #fffdfc;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 28px;
  color: #faf8f7;
  margin-bottom: 16px;
}

.conteudo-quaternario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fffdfb;
}

.conteudo-quinario-titulo {
  border-top: 0px solid #fffdfc;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 28px;
  color: #faf8f7;
  margin-bottom: 16px;
}

.conteudo-quinario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fffdfb;
}

.conteudo-senario-titulo {
  border-top: 0px solid #fffdfc;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 28px;
  color: #faf8f7;
  margin-bottom: 16px;
}

.conteudo-senario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fffdfb;
}

.conteudo-septnario-titulo {
  border-top: 0px solid #fffdfc;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 28px;
  color: #faf8f7;
  margin-bottom: 16px;
}

.conteudo-septnario-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #fffdfb;
}

.conteudo-octnario-titulo {
  border-top: 0px solid #fffdfc;
  padding-top: 48px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 28px;
  color: #faf8f7;
  margin-bottom: 16px;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #f5f3f2;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
footer {
	background-color: #0b0121;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #fff;
	text-decoration: none;
}